
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}


<input type="hidden" id="parentfolderID" value=0>
<div class="row m-0">
    <div class="col-2">

        <button type="button" class="btn btn-outline-success btn-lg mt-1" data-toggle="modal" data-target="#myModal">+ NEW</button><br />
        <a href='@Url.Content("~/User/Logout")'>LOGOUT</a>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Folder</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="newfolname" onkeyup="Validation()" value="untitled folder">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <input type="submit" class="btn btn-primary" id="create" data-dismiss="modal" value="create">
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-10 ">
        <h2>Home</h2>
        <div id="info"></div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/folder.js"></script>
    <script>
        function ajaxRequest() {

            var i = $("#parentfolderID").val();
            var d = { "pfid": i };
           
            folderManager.getChildFolders(d);
        }
        $(document).ready(function () {
            ajaxRequest();
            $("#create").click(function () {
                var n = $("#newfolname").val();
                var i = $("#parentfolderID").val();
                var d = { "newFolderName": n, "pfid": i };
               
                folderManager.create(d);
            });

        });
        function fun(currentDiv) {
            folderManager.fun(currentDiv);
        }
        function Validation() {
            folderManager.Validation();
        }
        function selected(e) {
            folderManager.selected(e);
        }
    </script>
}