@model  Entities.UserDTO
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}


<input type="hidden" id="parentfolderID" value=0>
<div class="row m-0">
    <div class="col-2">

        <button type="button" class="btn btn-outline-success btn-lg mt-1" data-toggle="modal" data-target="#myModal">+ NEW</button><br />
        <a href='@Url.Content("~/User/Logout")'>LOGOUT</a>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Folder</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="newfolname" onkeyup="Validation()" value="untitled folder">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <input type="submit" class="btn btn-primary" id="create" data-dismiss="modal" value="create">
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-10 ">
        <h2>Home</h2>
        <div id="info"></div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/folder.js"></script>
    <script>
        window.jwtToken = '@Model.Token'
        alert(window.jwtToken);
        sessionStorage.setItem('token', window.jwtToken);
        function ajaxRequest() {

            var i = $("#parentfolderID").val();
            var d = { pfid: i };
           
            folderManager.getChildFolders(d);
        }
        $(document).ready(function () {
            var basePath = "https://localhost:44322/";
            ajaxRequest();
            $("#create").click(function () {
                var n = $("#newfolname").val();
                var i = $("#parentfolderID").val();
                var d = { NewFolderName: n, pfID: i };
                //debugger;
                var settings = {
                type: "GET",
                dataType: "json",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                },
                url: basePath+'api/Values/Create',
                data: d,

                success: function (response) {
                    if (response.empty == true && response.valid == false) {
                        alert("invalid folder name");
                    }
                    else if (response.valid == true && response.empty == false) {
                        $("#info").empty();
                        $("#newfolname").val("untitled folder");
                        ajaxRequest();
                    }
                },
                error: function (err, type, httpStatus) {
                    alert("error has occured");
                }
            };
            $.ajax(settings);
            });

        });
        function fun(currentDiv) {
            folderManager.fun(currentDiv);
        }
        function Validation() {
            folderManager.Validation();
        }
        function selected(e) {
            folderManager.selected(e);
        }
    </script>
}