
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

<h2>Home</h2>

<input type="hidden" id="parentfolderID" value=0>
<div class="row m-0">
    <div class="col-2">

        <button type="button" class="btn btn-outline-success btn-lg mt-1" data-toggle="modal" data-target="#myModal">+ NEW</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Folder</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="newfolname" onkeyup="Validation()" value="untitled folder">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <input type="submit" class="btn btn-primary" id="create" data-dismiss="modal" value="create">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-10 ">
        <div id="info"></div>
    </div>
</div>
<script>
    function ajaxRequest()
    {
       
        var i=$("#parentfolderID").val();
        var d={"pfid":i};
        var settings={
            type:"GET",
            dataType:"json",
            url:"/User/GetChildFolders",
            data:d,

            success:function(r)
            {
                if (r.response[0] !== "") {
                    var len = r.response.length;
                    for (var i = 0; i < r.response.length; i++) {
                        var obj = r.response[i];
                        var folder=obj.FolderName;
                        $("#info").append("<div style='display:inline-block' class='border rounder-sm folder w-25 p-2 m-1' ondblclick='fun(this)' onclick='selected(this)'>" + folder + "</div> <input type='hidden' id='f' value=" + obj.FolderID + ">")
                    }
                }
            },
            error:function(err,type,httpStatus)
            {
                alert("error has occured");
            }
        };
        $.ajax(settings);
    }
    $(document).ready(function(){
        ajaxRequest();
        $("#create").click(function()
        {
            var n=$("#newfolname").val();
            var i=$("#parentfolderID").val();
            var d={"newFolderName":n,"pfid":i};
            var settings={
                type:"GET",
                url:"/User/Create",
                data:d,

                success:function(response)
                {
                    
                    $("#info").empty();
                    $("#newfolname").val("untitled folder");
                    ajaxRequest();
                },
                error:function(err,type,httpStatus)
                {
                    alert("error has occured");
                }
            };
            $.ajax(settings);
        });

    });
    function fun(currentDiv) {
        var parentFolderID=currentDiv.nextElementSibling.value;
        $("#parentfolderID").val(parentFolderID);
        $("#info").empty();
        ajaxRequest();
    }
    function Validation()
    {
        var ele=$("#newfolname").val();
        document.getElementById("create").disabled = ele === '';
    }
    function selected(e)
    {
        $(e).css({"background-color":"#b8daff"});
        $(e).siblings().css({"background-color":"white"});
    }
</script>