@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

@section scripts {


    <script>
        $(function () {
            $("#btnLogin").click(function () {
               
                var login = $("#txtLogin").val();
                var pass = $("#txtPassword").val();
                var d = { "login": login, "password": pass };
                var settings = {
                    type: "POST",
                    dataType: "json",
                    url: "/User/ValidateUser",
                    data: d,
                    success: function (resp) {
                        if (resp.empty == true) {
                            $("#error").html("all fields required");
                        }
                        else if (resp.valid == true) {
                            location.href = resp.urlToRedirect;
                        }
                        else {
                            $("#error").html("Invalid Login/Password");
                        }
                    },
                    error: function (e) {
                        $("#error").html("something went wrong");
                    }
                };
                $.ajax(settings);
                return false;
            });
        });
    </script>

}



<div class="row m-0">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Login</h2>
        <div class="form-group">
            <label for="user" class="font-weight-bold"> Email:</label>
            <input type="email" id="txtLogin" class="form-control w-100" placeholder="someone@gmail.com" />
        </div>
        <div class="form-group">
            <label for="password" class="font-weight-bold">Password:</label>
            <input type="password" id="txtPassword" class="form-control w-100" placeholder="password" />
        </div>
        <input type="submit" class="btn btn-outline-success font-weight-bold text-success w-25" name="submit" value="submit" id="btnLogin" />
        <a href='@Url.Content("~/User/Register")' class="btn btn-outline-success font-weight-bold text-success w-25">register</a>
        <span style="color:red" id="error"></span>
    </div>
    <div class="col-4"></div>
</div>
