
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}


<div class="row m-0">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Register</h2>
        <div class="form-group">
            <label for="user" class="font-weight-bold"> Name:</label>
            <input type="text" id="user" class="form-control w-100" placeholder="name" />
        </div>
        <div class="form-group">
            <label for="login" class="font-weight-bold">Login:</label>
            <input type="email" id="login" class="form-control w-100" placeholder="login" />
        </div>
        <div class="form-group">
            <label for="pass" class="font-weight-bold">Password:</label>
            <input type="password" id="pass" class="form-control w-100" placeholder="password" />
        </div>
        <div class="form-group">
            <label for="confPass" class="font-weight-bold">Confirm Password:</label>
            <input type="password" id="confPass" class="form-control w-100" placeholder="confirm password" />
        </div>
        <input type="submit" value="submit" id="submit" class="btn btn-outline-success text-success font-weight-bold" />
        <span style="color:red" id="cpassSpan"></span>

    </div>
    <div class="col-4"></div>
</div>
@section scripts
{
    <script src="~/Scripts/user.js"></script>
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                var n = $("#user").val();
                var i = $("#pass").val();
                var l = $("#login").val();
                var c = $("#confPass").val();
                var d = { "Name": n, "Login": l, "Password": i };
                if (n === "" || i === "" || l === "" || c === "") {
                    $("#cpassSpan").html("all fields required");
                }
                else if (i !== c) {
                    $("#cpassSpan").html("password donnot match");
                }
                else {
                    userManager.save(d);
                    return false;
                }
            });
        });
    </script>
}
