
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}


<div class="row m-0">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Register</h2>
        <div class="form-group">
            <label for="user" class="font-weight-bold"> Name:</label>
            <input type="text" id="user" class="form-control w-100" placeholder="name" />
        </div>
        <div class="form-group">
            <label for="login" class="font-weight-bold">Email:</label>
            <input type="email" id="login" class="form-control w-100" placeholder="someone@gamil.com" />
        </div>
        <div class="form-group">
            <label for="pass" class="font-weight-bold">Password:</label>
            <input type="password" id="pass" class="form-control w-100" placeholder="password" />
        </div>
        <div class="form-group">
            <label for="confPass" class="font-weight-bold">Confirm Password:</label>
            <input type="password" id="confPass" class="form-control w-100" placeholder="confirm password" />
        </div>
        <input type="submit" value="submit" id="submit" class="btn btn-outline-success text-success font-weight-bold" />
        <span style="color:red" id="cpassSpan"></span>

    </div>
    <div class="col-4"></div>
</div>
@*@section scripts
{
    <script src="~/Scripts/user.js"></script>
    <script>
        $(document).ready(function () {
            var basePath = 'https://localhost:44322/';
            $("#submit").click(function () {
                var n = $("#user").val();
                var i = $("#pass").val();
                var l = $("#login").val();
                var c = $("#confPass").val();
                var d = { "Name": n, "Login": l, "Password": i };
                //if (n === "" || i === "" || l === "" || c === "") {
                //    $("#cpassSpan").html("all fields required");
                //}
                //else if (i !== c) {
                //    $("#cpassSpan").html("password donnot match");
                //}
                //else {
                var settings = {
                    type: "POST",
                    dataType: "json",
                    url: basePath + "api/Values/Save2",
                    data: d,
                    success: function (resp) {

                        alert("success" + res.valid);
                        if (resp.empty == true) {
                            $("#cpassSpan").html("all fields required");
                        }
                        else if (resp.valid == true) {
                            location.href = "/User/Login";
                        }
                        else if (resp.valid == false) {
                            $("#cpassSpan").html("Login already exist!");
                        }
                    },
                    error: function (e) {
                        $("#cpassSpan").html("error!");
                    }
                };
                $.ajax(settings);
                return false;
                //}
            });
        });
    </script>
}*@
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var basePath = 'https://localhost:44322/';

            $("#submit").click(function () {
               var n = $("#user").val();
                var i = $("#pass").val();
                var l = $("#login").val();
                var c = $("#confPass").val();
                var d = { Name: n, Login: l, Password: i };
                //var dataToSend = { Login: login, Password: pass };
                var settings = {
                    type: "POST",
                    dataType: "json",
                    url: basePath + "api/Values/Save2",
                    data: d,
                    success: function (resp) {
                        alert("success")
                         if (resp.empty == true) {
                            $("#cpassSpan").html("all fields required");
                        }
                        else if (resp.valid == true) {
                            location.href = "/User/Login";
                        }
                        else if (resp.valid == false) {
                            $("#cpassSpan").html("Login already exist!");
                        }
                    },
                    error: function (e) {
                        alert("User error");
                    }
                };
                $.ajax(settings);
                return false;
            });
        });
    </script>
}
